
<h3>About Me</h3>
<div class="row-fluid">	
	 <img  class="pull-right span3 thumbnail ph-about-img" src="images/profile.JPG"/>
          <p>We are skilled engineers to do wired and wireless network, We so design Network, Structure Cabling, Network Configuration, Expansion of Network, Wireless Network We undertake network cabling using At&t / Dlink CAT 5, CAT 6 cabling. We can undertake turnkey projects too for structured cabling. We also do the Wireless Networking, Wi-Fi and Wimax solutions in a structured manner.</p>
           <p>We are skilled engineers to do wired and wireless network, We so design Network, Structure Cabling, Network Configuration, Expansion of Network, Wireless Network We undertake network cabling using At&t / Dlink CAT 5, CAT 6 cabling. We can undertake turnkey projects too for structured cabling. We also do the Wireless Networking, Wi-Fi and Wimax solutions in a structured manner.</p>
            <p>We are skilled engineers to do wired and wireless network, We so design Network, Structure Cabling, Network Configuration, Expansion of Network, Wireless Network We undertake network cabling using At&t / Dlink CAT 5, CAT 6 cabling. We can undertake turnkey projects too for structured cabling. We also do the Wireless Networking, Wi-Fi and Wimax solutions in a structured manner.</p>
</div>

<br><br>

<h3>Gears</h3>
<div class="row-fluid">
	<div class="span5">
		<img class="span6 thumbnail" src="images/Gear/alphabody.jpeg">
	</div>
	<div class="span7">
		<img class="span6  thumbnail" src="images/Gear/lens.jpg">
	</div>
</div>