
<!-- <div class="container-fluid"> -->
    <br/><br/><br/><br/>
    <div class="row-fluid ">
      <div class="offset1 span4">
        <img  class="thumbnail" src="images/profile.JPG"/>
      </div>
      <div class="span6 row-fluid contact"> 
        <h5>Contact Me</h5>
        <div>
          <address>
            Anas Hashim<br>
            Bangalore, Karnataka,India<br>
            Email : anasphashim@gmail.com<br>
            MOB : +91 8147322283           
          </address>
        </div>
        <br/>
        <div class="row-fluid">
          <div class="span5">
            <label for="name">Name&nbsp;*</label>
          </div>
          <div class="span5">
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
          </div>
        </div>
        <div class="row-fluid">
          <div class="span5">
            <label for="email">Email address&nbsp;*</label>
          </div>
          <div class="span5">
            <input type="text" class="form-control" id="email" placeholder="Enter your email">
          </div>
        </div>
        <div class="row-fluid">
          <div class="span5">
            <label for="email">Contact Number</label>
          </div>
          <div class="span5">
            <input type="text" class="form-control" id="number" placeholder="Enter yournumber">
          </div>
        </div>
     
        <div class="row-fluid">
          <div class="span5">
            <label for="message">Message&nbsp;*</label>
          </div>
          <div class="span5">
            <textarea rows="3" class="form-control" id="message" placeholder="Enter message"></textarea>
          </div>      
        </div>
        <div class="row-fluid">
          <div class="span5">
          </div>
          <div class="span4">
            <button class=" btn btn-primary" id="sendContact" type="button">Send</button>
            <br/><br/>
          </div>
       
        </div> 
        <br/>
        <div class="pull-right">
         <h5>Connect Me</h5>      
         <div>
            <span class="social-icon facebook-icon facebook"></span>
            <span class="social-icon twitter-icon twitter"></span>
            <span class="social-icon googleplus-icon googleplus"></span>
            <!-- <span class="social-icon linkedin-icon linkedin"></span> -->
            <!-- <span class="social-icon skype-icon skype"></span> -->
            </div>
        </div>    
    </div>

  </div>

