
<div class="row-fluid ph-gallery-imgs">
	<div class="span2">
		<ul class="nav nav-pills nav-stacked gal-nav">
         		<li class="selected">
					<a href="#gallery">All</a>
				</li>
				<li class="">
					<a href="#gallery">Wildlife</a>
				</li>
				<li class="">
					<a href="#gallery">Birds</a>                 
				</li>
				<li class="">
					<a href="#gallery">Reptiles</a>                 
				</li>
				<li class="">
					<a href="#gallery">Insects</a>                 
				</li> 
				<li class="">
					<a href="#gallery">Flowers</a>                 
				</li> 
				<li class="">
					<a href="#gallery">Others</a>                 
				</li>        
        </ul>
	</div>
	<div class="span10 galImages">
	<section id="photos">	
		<div>
			<img class="span2 gal-thumb fadeIn animated All Wildlife" src="images/Gallery/w1.jpg">
		</div>
		
		<div>
			<img class="span2 gal-thumb fadeIn animated All Wildlife" src="images/Gallery/w3.JPG">
		</div>
		
		<div>
			<img class="span2 gal-thumb fadeIn animated All Wildlife" src="images/Gallery/w5.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Wildlife" src="images/Gallery/w6.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Wildlife" src="images/Gallery/w7.jpg">
		</div>

		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b1.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b2.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b23.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b24.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Wildlife" src="images/Gallery/w2.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b3.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b4.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b5.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Others" src="images/Gallery/o3.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b6.JPG">
		</div>
		
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b9.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b10.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b11.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b12.JPG">
		</div>
		
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b15.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b16.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b17.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b18.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b19.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b20.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b21.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b22.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b23.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b24.JPG">
		</div>

		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b25.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b26.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b13.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b14.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b27.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b28.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b29.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b30.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Wildlife" src="images/Gallery/w4.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b31.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b32.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b33.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b34.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b7.JPG">
		</div><div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b8.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b35.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b36.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Birds" src="images/Gallery/b37.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Flowers" src="images/Gallery/f1.JPG">
		</div><div>
			<img class="span2 gal-thumb fadeIn animated All Flowers" src="images/Gallery/f2.JPG">
		</div>

		<div>
			<img class="span2 gal-thumb fadeIn animated All Flowers" src="images/Gallery/f3.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Insects" src="images/Gallery/i1.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Insects" src="images/Gallery/i6.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Insects" src="images/Gallery/i2.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Insects" src="images/Gallery/i3.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Insects" src="images/Gallery/i4.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Insects" src="images/Gallery/i5.jpg">
		</div>
		
		<div>
			<img class="span2 gal-thumb fadeIn animated All Nature" src="images/Gallery/n1.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Nature" src="images/Gallery/n2.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Nature" src="images/Gallery/n3.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Nature" src="images/Gallery/n4.jpg">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Others" src="images/Gallery/o1.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Others" src="images/Gallery/o2.JPG">
		</div>
		
		<div>
			<img class="span2 gal-thumb fadeIn animated All Others" src="images/Gallery/o4.JPG">
		</div>

		<div>
			<img class="span2 gal-thumb fadeIn animated All Others" src="images/Gallery/o5.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Others" src="images/Gallery/o6.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Reptiles" src="images/Gallery/r1.JPG">
		</div>
		<div>
			<img class="span2 gal-thumb fadeIn animated All Reptiles" src="images/Gallery/r2.JPG">
		</div><div>
			<img class="span2 gal-thumb fadeIn animated All Reptiles" src="images/Gallery/r3.JPG">
		</div><div>
			<img class="span2 gal-thumb fadeIn animated All Reptiles" src="images/Gallery/r4.jpg">
		</div>

		
	</section>		
	</div>
</div>
<br/>
