
<div class="row-fluid ph-gallery-imgs">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked gal-nav">
         		<li class="selected">
					<a href="#gallery">All</a>
				</li>
				<li class="">
					<a href="#gallery">Wildlife</a>
				</li>
				<li class="">
					<a href="#gallery">Birds</a>                 
				</li>
				<li class="">
					<a href="#gallery">Gear</a>                 
				</li>
				<li class="">
					<a href="#gallery">Blog</a>                 
				</li>        
        </ul>
	</div>
	<div class="span9 galImages">	
		<img class="span3 fadeInUpBig animated All Birds" src="images/head1.JPG">
		<img class="span3 fadeInLeftBig animated All Wildlife" src="images/head2.JPG">
		<img class="span3 fadeInDownBig animated All" src="images/head1.JPG">	
		<img class="span3 fadeInUpBig animated All" src="images/head2.JPG">
		<img class="span3 fadeInRightBig animated All Wildlife" src="images/head1.JPG">
		<img class="span3 fadeInLeftBig animated All" src="images/head2.JPG">
		<img class="span3 fadeInDownBig animated All Birds " src="images/head1.JPG">
		<img class="span3 fadeInRightBig animated All" src="images/head1.JPG">
		<img class="span3 fadeInLeftBig animated All Wildlife" src="images/head2.JPG">
		<img class="span3 fadeInDownBig animated All" src="images/head1.JPG">
		<img class="span3 fadeInUpBig animated All" src="images/head1.JPG">
		<img class="span3 fadeInRightBig animated All Birds" src="images/head1.JPG">	
		<img class="span3 fadeInUpBig animated All Wildlife" src="images/head2.JPG">
		<img class="span3 fadeInDownBig animated All Birds" src="images/head1.JPG">
		<img class="span3 fadeInLeftBig animated All" src="images/head1.JPG">	
		<img class="span3 fadeInRightBig animated All" src="images/head2.JPG">		
	</div>
</div>
<br/>
