
<div class="row-fluid ph-gallery-imgs">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked">
         		<li class="active">
					<a href="#home">All</a>
				</li>
				<li class="">
					<a href="#about">Wildlife</a>
				</li>
				<li class="">
					<a href="#gallery">Birds</a>                 
				</li>
				<li class="">
					<a href="#gear">Gear</a>                 
				</li>
				<li class="">
					<a href="#blog">Blog</a>                 
				</li>        
        </ul>
	</div>
	<div class="span9">	
		<img class="span3 fadeInUpBig animated" src="images/head1.JPG">
		<img class="span3 fadeInLeftBig animated" src="images/head1.JPG">
		<img class="span3 fadeInDownBig animated" src="images/head1.JPG">	
		<img class="span3 fadeInUpBig animated" src="images/head1.JPG">
		<img class="span3 fadeInRightBig animated" src="images/head1.JPG">
		<img class="span3 fadeInLeftBig animated" src="images/head1.JPG">
		<img class="span3 fadeInDownBig animated" src="images/head1.JPG">
		<img class="span3 fadeInRightBig animated" src="images/head1.JPG">
		<img class="span3 fadeInLeftBig animated" src="images/head1.JPG">
		<img class="span3 fadeInDownBig animated" src="images/head1.JPG">
		<img class="span3 fadeInUpBig animated" src="images/head1.JPG">
		<img class="span3 fadeInRightBig animated" src="images/head1.JPG">	
		<img class="span3 fadeInUpBig animated" src="images/head1.JPG">
		<img class="span3 fadeInDownBig animated" src="images/head1.JPG">
		<img class="span3 fadeInLeftBig animated" src="images/head1.JPG">	
		<img class="span3 fadeInRightBig animated" src="images/head1.JPG">		
	</div>
</div>


