<div class="row-fluid">
	<div class="span3"><img class="ph-logo " src="images/Logo/logo.png"></div>
	<div class="span9 ph-head-nav ">	   
		<ul class="nav nav-tabs ph-head-nav-ul visible-desktop">
     		<li class="span2 bounceInDown animated">
				<a href="#home" class="">Home</a>
			</li>
			<li class="span2 about bounceInDown animated">
				<a href="#about">About Me</a>
			</li>
			<li class="span2 bounceInDown animated">
				<a href="#gallery">Gallery</a>                 
			</li>
			<li class="span2 bounceInDown animated">
				<a href="#blog">Blog</a>                 
			</li>  
			<li class="span2 bounceInDown animated">
				<a href="#contact">Contact</a>                 
			</li>  
    	</ul>
		<ul class="nav nav-tabs headerNav hidden-desktop">
     		<li class="span2">
				<a href="#home">Home</a>
			</li>
			<li class="span3">
				<a href="#about">About Me</a>
			</li>
			<li class="span2">
				<a href="#gallery">Gallery</a>                 
			</li>
			<li class="span2">
				<a href="#blog">Blog</a>                 
			</li>
			<li class="span2">
				<a href="#contact">Contact</a>                 
			</li> 
    	</ul>
	</div>
</div>
    	  
