<div class="row-fluid">
	<div class="span8 ph-home-img fadeInLeftBig animated" id="phImg">
		<div id="cf4a" class="shadow">		  
		  	<img src="images/Home/2.JPG" />
		  	<img src="images/Home/3.JPG" />
		  	<img src="images/Home/4.JPG" />
		  	<img src="images/Home/5.JPG" />
		  	<img src="images/Home/6.jpg" />
		  	<img src="images/Home/7.jpg" />
		  	<img src="images/Home/8.jpg" />
		  	<img src="images/Home/9.jpg" />
		  	<img src="images/Home/10.jpg" />
		  	<img src="images/Home/1.JPG" />
		</div>
	</div>
	<div class="span4 visible-phone visibPhone"></div>
	<div class="span4 fadeInRightBig animated ph-home-menu">
		<div class="span12">
			<div class="ph-home-logo"><b>A<span class="font-small">NAS</span> H<span class="font-small">ASHIM</span> P<span class="font-small">HOTOGRAPHY</span></b></div>
		</div>	
		<div class="span12">
			<ul class="ph-home-ul nav">
				<li class="active"><a href="#home">Home</a></li>
				<li class=""><a href="#about">About Me</a></li>
				<li class=""><a href="#gallery">Gallery</a></li>
				<li class=""><a href="#blog">Blog</a></li>
				<li class=""><a href="#contact">Contact</a></li>
			</ul>
		</div>
		<div class="span12 ph-footer-copyright">
			<span style="display:iniline:block;">Copyright 2013 by <a href="#">Anas Hahsim Photography</a></span><br/><span>Designed by<b><a href="http://www.shaibiginfosystem.com" target="_blank"><img src="images/created.ico" style="width:20px; height:20px;"></a></b></span>
		</div>
	</div>
</div>