<div class="row-fluid">
	<div class="span8 ph-home-img fadeInLeftBig animated" id="phImg">
		<div id="cf4a" class="shadow">
		  <img src="images/head1.JPG" />
		  <img src="images/head2.JPG" />
		  <img src="images/head1.JPG" />
		  <img src="images/head2.JPG" />
		</div>
	</div>
	<div class="span4 visible-phone visibPhone"></div>
	<div class="span4 fadeInRightBig animated ph-home-menu">
		<div class="span12">
			<span class="ph-home-logo">Anas Hashim Photography</span>
		</div>	
		<div class="span12">
			<ul class="ph-home-ul nav">
				<li class="active"><a href="#home">Home</a></li>
				<li class=""><a href="#about">About Me</a></li>
				<li class=""><a href="#gallery">Gallery</a></li>
				<li class=""><a href="#blog">Blog</a></li>
				<li class=""><a href="#contact">Contact</a></li>
			</ul>
		</div>
		<div class="span12">
			<span style="display:iniline:block;">Copyright 2013 by Anas Hahsim Photography</span><br/><span>Designed by<b><a href="http://www.shaibiginfosystem.com" target="_blank"><img src="images/created.ico" style="width:20px; height:20px;"></a></b></span>
        	<!-- <span class="social-icons pull-right" style="display:iniline:block;">
	        	<span class="social-icon facebook-icon facebook img-rounded"></span>
	          	<span class="social-icon twitter-icon twitter img-rounded"></span>
	          	<span class="social-icon googleplus-icon googleplus img-rounded"></span>
	          	<span class="social-icon linkedin-icon linkedin img-rounded"></span>
        	</span> -->
		</div>	
	</div>
</div>